@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif !important;
  /* border-color: var(--border) !important; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  /* --body: #f6f9ff; */
  /* --body: #FAFCFE; */
  --body: #f4f4f4;
  --primary: #1890ff;
  --btnBg: #1890ff;
  --primaryHover: #007aec;
  --activeColor: #007aec;
  --lightBlue: #e3effb;
  --secondary: #1e0e62;
  --grayColor: #a1a1b0;
  --darkGray: #7c7c83;
  --lightGray: #f3f4f6;
  --blackColor: #000000;
  --white: #ffffff;
  --whiteBg: #ffffff;
  --danger: red;
  --border: #ebeaed;
  --text: #374151;
  --textColor: #374151;
  --tableHead: #e8f4ff;
  --tableRow: #f3f8ff;
  --overlay: #007aecbb;
  --logoColor: #1890ff;
  --logoColor2: #15ac12;
  --logoColor2Hover: #109c0d;
  --placeholder: #7c7c83;
}

.dark {
  --body: #0b0e11;
  --primary: #1890ff;
  --btnBg: #1890ff;
  --primaryHover: #007aec;
  --activeColor: #1f2937;
  --lightBlue: #181a20;
  --secondary: #ffffff;
  --grayColor: #a1a1b0;
  --darkGray: #ababac;
  --lightGray: #20232b;
  --blackColor: #6b7280;
  --white: #fff;
  --whiteBg: #181a20;
  --danger: red;
  --border: #ebeaed2d;
  --text: #f3f4f6;
  --textColor: #f3f4f6;
  --tableHead: #2b2c30;
  --tableRow: #000;
  --overlay: #20232b;
  --logoColor: #1890ff;
  --logoColor2: #15ac12;
  --logoColor2Hover: #109c0d;
  --placeholder: #7c7c83;
}

.gray {
  --body: #2b2b2b;
  --primary: #2a2a2a;
  --btnBg: #313131;
  --primaryHover: #2a2a2a;
  --activeColor: #1f2937;
  --lightBlue: #5f5f60;
  --secondary: #ffffff;
  --grayColor: #a1a1b0;
  --lightGray: #20232b;
  --darkGray: #dddddd;
  --blackColor: #6b7280;
  --white: #424242;
  --whiteBg: #7e7e7e;
  --danger: red;
  --border: #ebeaed2d;
  --text: #ffffff;
  --textColor: #f3f4f6;
  --tableHead: #5f5f60;
  --tableRow: #6c6c6c;
  --overlay: #333333;
  --logoColor: #a1a1b0;
  --logoColor2: #a1a1b0;
  --logoColor2Hover: #9292a3;
  --placeholder: #929294;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  color: var(--textColor);
}

*::placeholder {
  color: var(--placeholder) !important;
  font-size: 14px;
}

input {
  color: var(--text) !important;
}

input[type="checkbox"] {
  color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
}

span {
  display: inline-block;
}

._sidebar_1dh2t_5 div button {
  background-color: var(--body);
}

._sidebar_1dh2t_5 div button:hover {
  background-color: var(--activeColor);
  color: white !important;
}
._sidebar_1dh2t_5 div button:hover h2 div div {
  color: white !important;
}

@layer utilities {
  .grid-cols-dynamic {
    grid-template-columns: repeat(auto-fill, minmax(max-content, 1fr));
  }
}
/* Modal css  */
body.modal-open {
  overflow: hidden;
}

@layer utilities {
  .modal_8xl {
    max-width: 90rem;
  }
}

@layer components {
  .modal-container {
    @apply fixed top-0 left-0 w-full h-full bg-opacity-40 bg-black z-10 flex items-center justify-center;
  }

  .modal {
    @apply bg-whiteBgColor text-textColor w-[95%] max-w-screen-sm rounded-lg mx-auto;
  }

  .heading_1 {
    @apply text-center font-bold text-2xl md:text-4xl leading-[1.625] tracking-tighter text-secondaryColor;
  }

  .heading_2 {
    @apply text-2xl md:text-3xl font-medium leading-normal tracking-tighter text-secondaryColor dark:text-white;
  }

  .heading_3 {
    @apply text-secondaryColor text-lg font-bold leading-6 tracking-tighter;
  }

  .heading_4 {
    @apply text-center text-grayColor text-sm font-normal leading-6;
  }

  .heading_5 {
    @apply text-textColor font-normal text-sm leading-5;
  }

  .disabled_bg {
    @apply !bg-gray-100 !text-grayColor dark:!bg-gray-800;
  }

  .custom-input {
    @apply w-full rounded-[6px] text-blackColor dark:text-gray-400 bg-whiteColor dark:bg-[#000] box-border flex flex-row items-center justify-start py-[8px] xs:py-[12px] px-4 border-[2px] border-solid border-borderColor dark:border-[#6B7280] focus:border-borderColor focus:shadow-none outline-none focus:outline-none focus:ring-0;
  }

  .input_label {
    /* @apply text-blackColor dark:text-[#F2F3F5] leading-[125%] capitalize text-xs md:text-[14px] lg:text-base; */
    @apply text-textColor leading-[125%] capitalize text-xs md:text-[14px];
  }

  .input_cellphone {
    @apply border-none focus:border-none focus:ring-0 bg-transparent -mt-2;
  }

  .btn {
    @apply rounded-full w-full flex flex-row items-center justify-center py-3 sm:py-[14px] px-4 text-sm sm:text-[18px] cursor-pointer transition-all ease-out capitalize;
  }

  .main_btn {
    /* @apply rounded-full bg-primaryColor hover:bg-primaryHoverColor text-whiteColor flex flex-row items-center justify-center py-3 sm:py-[14px] px-8 text-sm sm:text-[18px] cursor-pointer transition-all ease-out capitalize; */
    @apply rounded-full bg-buttonBg hover:bg-primaryHoverColor text-white flex flex-row items-center justify-center py-3 sm:py-[12px] px-8 text-sm sm:text-[18px] cursor-pointer transition-all ease-out capitalize;
  }

  .transparent_btn {
    @apply rounded-full hover:bg-lightGrayColor text-black dark:text-white border-2 flex flex-row items-center justify-center py-2.5 sm:py-[12px] px-4 sm:px-8 text-sm sm:text-[18px] cursor-pointer transition-all ease-out capitalize;
  }
  .go_back {
    @apply flex gap-2 items-center text-[22px] font-medium py-2 rounded-lg text-black dark:text-white;
  }

  .btn_sm {
    @apply py-1.5 text-base;
  }

  .react-datepicker-wrapper {
    @apply w-full;
  }

  .svg_transition {
    @apply transition-colors ease-out delay-200;
  }

  .svg_white {
    @apply filter brightness-0 invert transition-all;
  }

  /* ! for modal note text */
  .note {
    @apply text-xs my-2 text-gray-500 dark:text-gray-300;
  }
  /* ! modal sub title for group input  */
  .input-group-title {
    @apply text-black dark:text-bodyColor font-poppins font-medium;
  }

  /* ! for form submitted add data list */
  .form-submitted-data-list {
    @apply text-xs font-semibold flex items-end;
  }

  .box_shadow {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 5px;
  }

  .box_shadow_2 {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 5px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 5px 0px;
  }
  .dark .shadow_dark {
    box-shadow: 0 8px 16px 0 rgba(114, 114, 114, 0.05),
      0 8px 16px 0 rgba(100, 100, 100, 0.05);
  }
}

@layer components {
  .svg_white {
    @apply filter brightness-0 invert transition-all;
  }
}

.light input:-webkit-autofill,
.light input:-webkit-autofill:hover,
.light input:-webkit-autofill:focus,
.light input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: #e7e7e7;
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  transition: background-color 5000s ease-in-out 0s;
}

html {
  background: var(--body) !important;
}
body {
  background: var(--body) !important;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background-color: var(--whiteBg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--grayColor);
  background-clip: content-box;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.default_option {
  color: var(--placeholder) !important;
  font-size: 14px;
}

select {
  color: var(--text) !important;
}

select option {
  color: rgb(0, 0, 0) !important;
}

div[data-testid="flowbite-accordion"] button svg {
  display: none !important;
}

div[data-testid="flowbite-accordion"] button h2 {
  width: 100%;
}

div[data-testid="flowbite-accordion"] button h2 svg {
  display: block !important;
}

.last\:rounded-b-lg:last-child {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.first\:rounded-t-lg:first-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
select option {
  background: #fff;
}
.dark select option {
  background: #000;
  color: #fff !important;
}

/*  modal posisiton */
/* div#\:ri\: {
  left: 4%;
  max-width: 70rem;
} */

/* .custom__modal > div {
  left: 4%;
  max-width: 70rem;
} */
